html, body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.styleDetail {
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 8px;
  background-color: #222;
  color: #ddd;
  font-size: 12px;
  padding: 8px;
}
