html, body {
  margin: 0;
  padding: 0;
  --rounded: 8px;
  --black: #222;
  --white: #ddd;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
  margin: 0;
}

p {
  margin: auto;
  max-width: 90% !important;
}

.styleDetail {
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: var(--rounded);
  background-color: var(--black);
  color: var(--white);
  font-size: 12px;
  padding: 8px;
}

.loremButton {
  position: absolute;
  top: 8px;
  right: 8px;
}
