html, body {
  background-color: var(--white);
  margin: 0;
  padding: 0;
  transition: 0.3s;
  --rounded: 8px;
  --black: #222;
  --white: #ddd;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

p {
  margin: auto;
  max-width: 90%;
}

.bg--reversed {
  background-color: var(--black);
}

.styleDetail {
  position: absolute;
  top: 8px;
  left: 8px;
  border: 1px solid var(--white);
  border-radius: var(--rounded);
  background-color: var(--black);
  color: var(--white);
  font-size: 12px;
  padding: 8px;
}

.buttonContainer {
  position: absolute;
  top: 4px;
  right: 4px;
  text-align: right;
  max-width: 50%;
}

.loremButton, .newFontButton {
  display: inline-block;
  margin: 4px;
}
